<html>
    <head>
        <title>Sleep Learner Welcome</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='welcome.css')}}">
    </head>
    <body>
        <p></p>
        <div class="welcome-container">

            <div class="welcome-row">
                <div class="col-lg-12">
                    <div class="welcome-message">
                        <h1>S A T</h1>
                        <h3>Made Easy</h3>
                        <hr class="welcome-divider"></hr>
                        <a href="{{ url_for('registration.oauth_authorize', provider='facebook') }}">
                          <button type="button" class="btn btn-primary btn-lg mybtn" >
                            START HERE
                          </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
